<!DOCTYPE html>
<html>
  <head>
    <title>Basic Web Page</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <link href="create-form.css" rel="stylesheet" />
  </head>

  <body>
   
    <h1><a href="/">Twit-Book</a></h1>
    <div>
      <h4>
        Welcome to Twit-Book! Where you are able to create mock social media
        profiles for fun or practice! Get started by clicking “Create”, then
        customize away!
      </h4>
    </div>
    <ul id="buttons">
      <li>
        <a href="/create" style="color: #d0c37e"><b>Create</b></a>
      </li>
      <li><a href="/edit">Update</a></li>
      <li><a href="/view">View</a></li>
      <li><a href="/delete">Delete</a></li>
    </ul>

    <form action="/create" method="POST">
      <label for="name">Name: </label>
      <input id="name" type="text" name="name" />

      <label for="birthday">Birthday:</label>
      <input type="date" id="birthday" name="birthday" />

      <label for="bio">Bio:</label>
      <textarea id="bio" type="text" name="bio" maxlength="139"></textarea>

      <input id="submit" type="submit" value="Create!" />
    </form>
     <script src="/public/js/create-form.js"></script>
  </body>
</html>

