body {
  background: #1b73a5;
  color: #fff;
  padding: 25px;
  font-family: sans-serif;
}
h1,
h4 {
  text-align: center;
}
h4 {
  max-width: 750px;
  margin: auto;
  padding-bottom: 15px;
}

#buttons {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  max-width: 700px;
  margin: auto;
}

#buttons li {
  flex: auto;
  border-radius: 0.5em;
  padding: 0.5em;
  text-align: center;
}

form {
  margin: auto;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 16px;
  max-width: 700px;
  border: 0.5mm solid black;
  padding: 5mm;
  height: 47mm;
}

input {
  float: left;
  width: calc(100% - 200px);
  font-family: sans-serif;
}

input#submit {
  width: calc(100% - 200px);
  grid-column: 2 / 3;
}
textarea {
  min-height: 10mm;
  float: left;
  width: calc(100% - 200px);
  font-family: sans-serif;
}
