<!DOCTYPE html>
<html>
  <head>
    <title>Basic Web Page</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <link href="/public/css/homepage.css" rel="stylesheet" />
  </head>
  <body>

    <h1>Twit-Book</h1>
    <div>
      <h4>
        Welcome to Twit-Book! Where you are able to create mock social media
        profiles for fun or practice! Get started by clicking “Create”, then
        customize away!
      </h4>
    </div>
    <ul id="buttons">
      <li><a href="/profiles/new">Create</a></li>
      <li><a href="/profiles/edit">Update</a></li>
      <li><a href="/profiles/view">View</a></li>
      <li><a href="/profiles/delete">Delete</a></li>
    </ul>
    <div class="taskBox"></div>    
    <script src="/public/js/homepage.js"></script>
  </body>
</html>
