<!DOCTYPE html>
<html>

<head>
    <title>Basic Web Page</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link href='/public/css/update-names.css' rel='stylesheet'>
</head>

<body>

    <h1>Twit-Book</h1>
    <div>
        <h4>Welcome to Twit-Book! Where you are able to create mock social media profiles for fun or practice! Get
            started by clicking “Create”, then customize away!
        </h4>
    </div>
    <ul id="buttons">
        <li><a href="/profiles/new">Create</a></li>
        <li><a href="/profiles/edit">Update</a></li>
        <li><a href="/profiles/view">View</a></li>
        <li><a href="/profiles/delete">Delete</a></li>
    </ul>
    <div class='taskBox'>
      <h5> Select a username below to update</h5>
        <ul id="names">
            <li><a href='1'>Ronald barnett</a></li>
<li><a href='/profiles/edit/:name'>Ronald barnett</a></li>
<li><a href='/profiles/edit/:name'>Ronald barnett</a></li>
<li><a href='/profiles/edit/:name'>Ronald barnett</a></li>
<li><a href='/profiles/edit/:name'>Ronald barnett</a></li>
<li><a href='/profiles/edit/:name'>Ronald barnett</a></li>
<li><a href='/profiles/edit/:name'>Ronald barnett</a></li>
<li><a href='/profiles/edit/:name'>Ronald barnett</a></li>

        </ul>
    </div>

    <script src='/public/js/update-names.js'></script>
</body>

</html>